
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  min-height: 36px;
  padding: 0 32px;
  cursor: pointer;
  background-color: var(--blue);

  .button__text {
    color: #ffffff;
  }

  .with-icon {
    margin-left: 11px;
  }
}

.button:disabled,
.button[disabled]{
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.4);
  cursor: default;
}