@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/Roboto-Regular.ttf') format('ttf'),
    /* Super Modern Browsers */
  url('../assets/fonts/Roboto-Regular.woff') format('woff'),
  url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
    /* Safari, Android, iOS */
  url('../assets/fonts/Roboto-Regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Roboto-Bold.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/Roboto-Bold.ttf') format('ttf'),
    /* Super Modern Browsers */
  url('../assets/fonts/Roboto-Bold.woff') format('woff'),
  url('../assets/fonts/Roboto-Bold.woff2') format('woff2'),
    /* Safari, Android, iOS */
  url('../assets/fonts/Roboto-Bold.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Roboto-Medium.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/Roboto-Medium.ttf') format('ttf'),
    /* Super Modern Browsers */
  url('../assets/fonts/Roboto-Medium.woff') format('woff'),
  url('../assets/fonts/Roboto-Medium.woff2') format('woff2'),
    /* Safari, Android, iOS */
  url('../assets/fonts/Roboto-Medium.svg#Roboto') format('svg'); /* Legacy iOS */
}

:root {
  --primary: #353D4B;
  --background: #E5E5E5;
  --blue: #4587ED;
  --gray: #F6F7F9;
  --second-gray: #F9FAFC;
  --border-color: #EBECEF;
  --darker-gray: #B8C1CC;
  --second-blue-gray: #818C99;
  --button-gray-color: #E4E5E8;
  --how-much-color: #6D7885;
}

*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: var(--primary);
  background-color: var(--background);
}
